In [33]:
import pandas as pd
from IPython.display import display
from collections import namedtuple

txtFiles = [
    '204_sex0.txt',
    '204a_sex0.txt',
    '205_sex1.txt',
    '205a_sex1.txt',
    '206_sex0.txt',
    '206a_sex0.txt',
    '207_sex1.txt',
    '207a_sex1.txt',
    '208_sex1.txt',
    '208a_sex1.txt',
    '209_sex0.txt',
    '209a_sex0.txt',
    '210_sex1.txt',
    '210a_sex1.txt',
    '211_sex1.txt',
    '211a_sex1.txt',
    '212_sex0.txt',
    '212a_sex0.txt',
    '214_sex0.txt',
    '214a_sex0.txt',
    '215_sex1.txt',
    '215a_sex1.txt',
    '216_sex0.txt',
    '216a_sex0.txt',
    '217_sex1.txt',
    '217a_sex1.txt',
    '218_sex0.txt',
    '218a_sex0.txt',
    '220_sex1.txt',
    '220a_sex1.txt',
    '221_sex0.txt',
    '221a_sex0.txt',
    '222_sex1.txt',
    '222a_sex1.txt',
    '223_sex1.txt',
    '223a_sex1.txt',
    '224_sex0.txt',
    '224a_sex0.txt',
    '225_sex1.txt',
    '225a_sex1.txt',
    '227_sex1.txt',
    '227a_sex1.txt',
    '228_sex0.txt',
    '228a_sex0.txt',
    '229_sex0.txt',
    '229b_sex0.txt',
    '230_sex1.txt',
    '230b_sex1.txt',
    '231_sex0.txt',
    '231a_sex0.txt',
    '232_sex1.txt',
    '232a_sex1.txt',
    '233_sex0.txt',
    '233b_sex0.txt',
    '234_sex0.txt',
    '234b_sex0.txt',
    '236_sex0.txt',
    '236a_sex0.txt',
    '237_sex1.txt',
    '237a_sex1.txt',
    '238_sex0.txt',
    '238a_sex0.txt',
    '239_sex1.txt',
    '239b_sex1.txt',
]

Item = namedtuple('Item', 'ParticipantNum ParticipantGender Date ExperimentType AltExperiment Time XPosition YPosition Orientation BoxLocation')
items = []

for file in txtFiles:
    lineNum = 0
    participantNum = ''
    participantGender = ''
    date = ''
    experimentType = ''
    altExperiment = ''
    with open(file) as f:
        for line in f:
            line = line.rstrip('\n')
            if lineNum > 7:
                s = line.split(':  ')
                if len(s) > 1:
                    time = s[0]
                    p = s[1].split(',')
                    xPos = p[0]
                    yPos = p[1]
                    orientation = p[2]
                    boxLoc = p[3]
                    items.append(Item(participantNum, participantGender, date, experimentType, altExperiment, time, xPos, yPos, orientation, boxLoc))
            else:
                if lineNum == 1:
                    s = line.split(': ')
                    participantNum = s[1]
                if lineNum == 2:
                    s = line.split(': ')
                    if s[1] == 0:
                        participantGender = 'Male'
                    else:
                        participantGender = 'Female'
                if lineNum == 3:
                    s = line.split(': ')
                    date = s[1]
                if lineNum == 4:
                    s = line.split(': ')
                    experimentType = s[1]
                if lineNum == 5:
                    s = line.split(': ')
                    altExperiment = s[1]
            lineNum += 1

df = pd.DataFrame.from_records(items, columns=['Participant No.', 'Participant Gender', 'Date', 'Session', 'Alt Experiment', 'Time', 'X Position', 'Y Position', 'Orientation', 'Box Location'])
display(df)

df.to_csv('CleanedExperiment1.csv')

,Participant No.,Participant Gender,Date,Session,Alt Experiment,Time,X Position,Y Position,Orientation,Box Location
0,204,Female,10/11/17,0,False,0.02,93.4,33.1,267.4,
1,204,Female,10/11/17,0,False,0.07,93.4,33.1,267.4,box 9
2,204,Female,10/11/17,0,False,0.07,93.4,33.1,267.4,box 9
3,204,Female,10/11/17,0,False,0.08,93.4,33.1,267.4,box 9
4,204,Female,10/11/17,0,False,0.1,93.4,33.1,267.4,box 9
...,...,...,...,...,...,...,...,...,...,...
1740355,239b,Female,11/8/17,1,True,19.7,156.5073,80.90097,314.3001,box 7
1740356,239b,Female,11/8/17,1,True,19.72,156.2937,81.11012,314.4001,box 7
1740357,239b,Female,11/8/17,1,True,19.73,156.0763,81.32309,314.4001,box 7
1740358,239b,Female,11/8/17,1,True,19.75,155.8616,81.53326,314.4001,box 7
1740359,239b,Female,11/8/17,1,True,19.77,155.6464,81.74476,314.5001,box 7